<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationPreferredDefaultSceneSessionRole</key>
		<string>UIWindowSceneSessionRoleApplication</string>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UISceneSessionRoleImmersiveSpaceApplication</key>
			<array>
				<dict>
					<key>UISceneInitialImmersionStyle</key>
					<string>UIImmersionStyleMixed</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSWorldSensingUsageDescription</key>
	<string>このアプリは現実空間の平面検出のために空間認識を利用します。</string>
	<key>NSHandsTrackingUsageDescription</key>
	<string>このアプリは手や指の動きを検出するためにハンドトラッキングを利用します。</string>
</dict>
</plist>
